body {
  background-color: black;
  color: lightcyan;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
.choosing {
  width: 130px;
  margin-bottom: 20px;
  padding: 5px;
}
.choosing:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: darkcyan;
  text-decoration: underline;
  background-color: rgba(0, 139,139, .15);
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 139, 139, .2);
  transition: all .3s ease-in-out;
}
.back__button {
  display: block;
  width: auto;
  height: 20px;
  text-algin: left;
}
.AppComplex {
    text-align: center;
}
.App {
  font-family: roboto;
  text-align: center;
}
.keyboard {
  position: relative;
  margin: 10px auto;
  width: 107px;
  display: grid;
  grid-template-columns: 33px 33px 33px;
  grid-template-rows: auto;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.keyboard--complex {
  width: 122px;
  grid-template-columns: 38px 38px 38px;
}
.key {
  background-color: grey;
  font-size: 20px;
  width: 33px;
  height: 33px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 0.1s;
}
.key--complex {
  width: 38px;
  height: 38px;
}
.key:hover {
  box-sizing: border-box;
  font-weight: bold;
  background-color: lightblue;
  border: solid 1px black;
}
input::placeholder {
  color: black;
}
.creative__span {
  position: relative;
  padding: 3px;
  display: inline-block;
  top: -20px;
  left: 70px;
  z-index: 10000;
  width: 7px;
  height: 7px;
  border: solid 1px white;
  border-radius: 50%;
  background-color: red;
}
.creative__span:active {
  background-color: blue;
}